:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #eeeeee;
  --secondary-bg-color-over: #dddddd;
  --main-color: #3f51b5;
  --main-light-color: #757de8;
  --main-lighter-color: #b9bce7;
  --main-lightest-color: #eaebff;
  --main-dark-color: #002984;
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --error-color: #B00020;
  --error-light-color: rgba(176, 0, 32, 0.4);
  --button-text-color: rgb(68, 68, 68);
  --button-text-color-over: rgb(51, 51, 51);
  --shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.54);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
