.RemoveConfirmation-Blocker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.RemoveConfirmation-Cont {
  padding-top: 20px;
  background-color: var(--main-bg-color);
  box-shadow: var(--shadow);
  height: 300px;
  width: calc(300px * 1.61803398875);
  display: flex;
  flex-direction: column;
}

.RemoveConfirmation-Cont.errorStyle {
  background-color: var(--error-color);
  color: white;
}

.RemoveConfirmation-title {
  width: 100%;
  margin-bottom: 20px;
}
.RemoveConfirmation-actions {
  display: flex;
  margin-top: auto;
  align-self: flex-end;
}

.RemoveConfirmation-action {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0px 20px 20px 0px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
}

.RemoveConfirmation-action-cancel {
  margin-left: auto;
}

.RemoveConfirmation-action:hover {
  background-color: var(--main-lighter-color);
}

.RemoveConfirmation-action-cancel:hover {
  background-color: var(--error-light-color);
}
