.FileRow-cont {
  display: flex;
  flex-direction: row;
  padding: 2px;
  cursor: default;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--secondary-bg-color);
}

.FileRow-cont:hover {
  background-color: var(--main-lightest-color);
}

.FileRow-name {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.FileRow-actions {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.FileRow-action {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 32px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.FileRow-action:hover {
  background-color: var(--main-lighter-color);
}
