.UploadMenu-cont {
  top: 0;
  position: fixed;
  width: 100vw;
  box-shadow: var(--shadow);
  display:flex;
  flex-direction: row;
}

.UploadMenu-cont .search-input {
  margin-top: 15px;
  margin-left: 10vw;
}

.UploadMenu-cont .addFileButton {
  margin: 5px;
  font-size: xxx-large;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: 5vw;
  border-radius: 32px;
  cursor: pointer;
  color: var(--button-text-color);
}

.UploadMenu-cont .addFileButton:hover {
  background-color: var(--main-lighter-color);
  color: var(--main-dark-color);
}

.UploadMenu-cont .addFileButton::before {
  color: var(--main-color);
  content: "+";
}
